body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F2F2F2;
}

pre {
  overflow: auto;
}

*, *::before, *::after {
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .MuiBox-root {
    padding: 10px 0 !important;
  }
}